numpy
setuptools#<60.0
#==1.23.0
matplotlib
#==3.2.2
wandb
#==0.12.17
scipy
#==1.8.0
scikit-learn
#==1.0.2
tqdm
#==4.64.0
omegaconf
#==2.1.2
nuscenes-devkit
#torch-sparse
pybind11
chardet
h5py
vispy#>=0.5.3
#numpy>=1.24.0
PyYAML#>=5.1.1
imgui[glfw]#>=1.0.0 
glfw#>=1.8.3
PyOpenGL#>=3.1.0
pyqt5#>=5.8.1.1
plyfile
seaborn
ipython
ipykernel
torchmetrics
wandb
mkl
tsnecuda